body {height:3000px;}


.title{
    position: absolute;
    left:150px;
    top: 80px;
    width:200px;
    height: 40px;
}

.one{
    top: 250px;
    position:absolute;
    width:350px;
    left:150px;
    padding-left: 10px;
    
}

.two{
    position:absolute;
    top: 550px;
    width:350px;
    left:150px;
    padding-left: 10px;
    
}

.three{
    position:absolute;
    top:850px;
    width: 350px;
    left: 150px;
    padding-left: 10px;

    
}

.red1
{   position: absolute;
    top:240px;
    height:250px;
    width:350px;
    left:150px;
    padding-left: 10px;
     background-color:pink;
    display: none;}

.red2
{   position:absolute;
    top:540px;
    height: 270px;
    width:350px;
    left:150px;
    padding-left: 10px;
    background-color: hotpink;
    display:none;
    
}

.red3{
        position:absolute;
    top:840px;
    height: 140px;
    width: 350px;
    left: 150px;
    padding-left: 10px;
     background-color: deeppink;
    display:none;
}