.one
{padding-top:50px;
text-align: right;
width:400px;
color: coral;
font-family:georgia; }

.two
{text-align: right;
width:400px;
color: coral;
font-family:georgia;}

.three
{text-align: right;
width:400px;
color: coral;
font-family:georgia;}