.one {
position:relative;
width:600px;
font-family: cursive;
text-decoration: line-through;
text-decoration-style: dashed;
text-decoration-color:palevioletred;
}

.two {
position:absolute;
width:600px;
margin-left: 300px;
font-family: cursive;
text-decoration: line-through;
text-decoration-style: dashed;
text-decoration-color:palevioletred;
}

.three {
position:absolute;
bottom:200;
width:600px;
margin-left:700px;
top:650px;
padding-bottom: 10px;
font-family: cursive;
text-decoration: line-through;
text-decoration-style: dashed;
text-decoration-color:palevioletred;
}